@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}



@*<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>*@
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 mt">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" id="fileForm" role="form">
                <div asp-validation-summary="All" class="text-danger"></div>
                <fieldset>
                    <h3 class="text-center">Valid information is required to register. <span class="req"><small> required *</small></span></h3>

                    <div class="form-group">
                        <label asp-for="Email"><span class="req">* </span> Email:</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"><span class="req">* </span> Password:</label>
                        <input asp-for="Password" class="form-control inputpass" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"><span class="req">* </span> Confirm password:</label>
                        <input asp-for="ConfirmPassword" class="form-control inputpass" placeholder="Enter again to validate" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name"><span class="req">* </span> Name:</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Username"></label>
                        <input asp-for="Username" class="form-control" placeholder="Your email will be used if not filled out"/>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageUrl">Profile image: <small>You need to enter an image url here</small></label>
                        <input asp-for="ImageUrl" class="form-control" placeholder="A default image will be used if not filled out"/>
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <input class="btn  btn-primary" type="submit" name="submit_reg" value="Register">
                    </div>


                </fieldset>
            </form><!-- ends register form -->
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
