@model BackUpSystem.Web.Models.SearchViewModels.SearchViewModel

@{
    ViewData["Title"] = "Search";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Search" asp-action="Load" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserInput"></label>
                <input asp-for="UserInput" class="form-control" />
                <span asp-validation-for="UserInput" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default" id="my-button">Submit</button>
        </form>

    </div>
</div>

<div id="search-result"></div>

@section Scripts {
     @await Html.PartialAsync("_ValidationScriptsPartial"),
    <script>
        $(function () {
            $('#my-button').click(function () {
                $.get('/search/load', function (data) {
                    $('#search-result').html(data);
                });
            });
        });
    </script>
}
