@model BackUpSystem.Web.Models.SearchViewModels.SearchResultViewModel
@{
    ViewData["Title"] = "SearchResultViewModel";
}

<h2>SearchResultViewModel</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>
        @foreach (var item in Model.SearchResult)
        {
            <div><strong>@item.Name</strong></div>
        }
    </div>
</body>
</html>

