@using BackUpSystem.DTO
@model IEnumerable<UserDto>


<table>
    <tr>
        <th>User:</th>
        <th>Is Admin:</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>
                <a asp-controller="UserManagement" asp-action="Details"  asp-route-id="@user.Id">@user.UserName</a>
            </td>
            <td>@user.IsAdmin</td>
        </tr>
    }

</table>