<div class="row">
    <div class="col-md-3 cols-style">
        @*<img src="~/images/Alek Hristov.jpg" alt="" class="img-fluid img-border-aboutus">*@
    </div>
    <div class="col-md-3 cols-style">
        <h3><u>Alek Hristov</u></h3>
        <p class="aboutUs-text">Email: alek.hristov@yahoo.com</p>
        <p class="aboutUs-text">GitHub profile: <a href="https://github.com/alekhristov">Alek Hristov</a></p>
    </div>
    <div class="col-md-3 cols-style">
        <img src="" alt="" class="img-fluid img-border-aboutus">
    </div>
    <div class="col-md-3 cols-style">
        <h3><u>Anton Simeonov</u></h3>
        <p class="aboutUs-text">Email: anton.simeonov@yahoo.com</p>
        <p class="aboutUs-text">GitHub profile: <a href="https://github.com/simeonovanton">Anton Simeonov</a></p>
    </div>
</div>