@using BackUpSystem.Web.Models.HomeViewModels
@model TimelineViewModel

<div class="col-lg-10 col-lg-offset-2 col-xs-10 col-xs-offset-2">
    <div>
        <h1><strong>Recent: </strong></h1>
    </div>
    @Html.Partial("_TimelinePartial", Model)
    <div class="clearfix"></div>
</div>