<div class="container-fluid hero">
    <h1 class="text-white text-center" style="padding-top: 20vh;">Welcome to Twitter.... 2.0!</h1>
</div>
<h2 class="text-center" style="margin-top:2em;">Here is just sample of what you can do with Twitter 2.0</h2><hr style="border-top: 1px solid #A8D0F1;" />

<div class="jumbotron col-md-12" style="background-color:#A8D0F1">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <h3>You can ...</h3>
                <p>Search for your favourite twitter accounts</p>
            </div>
            <div class="col-md-6">
                <a href="~/images/screenshot-1.jpg"><img src="~/images/screenshot-1.jpg" alt="Search Option" class="img-responsive" /></a>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <a href="~/images/screenshot-2.jpg"><img src="~/images/screenshot-2.jpg" alt="Search Option" class="img-responsive" /></a>
            </div>
            <div class="col-md-6">
                <h3>You can also ...</h3>
                <p>Add or remove them to your favorite accounts and they will be displayed right under your profile information</p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <h3>The latest ...</h3>
                <p>Tweets from your favorite twitter accounts will be displayed on your timeline, so you can download or retweet them</p>
            </div>
            <div class="col-md-6">
                <a href="~/images/screenshot-3.jpg"><img src="~/images/screenshot-3.jpg" alt="Search Option" class="img-responsive" /></a>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <a href="~/images/screenshot-4.jpg"><img src="~/images/screenshot-4.jpg" alt="Search Option" class="img-responsive" /></a>
            </div>
            <div class="col-md-6">
                <h3>You can look at your ...</h3>
                <p>Your followed users profile, check their last activity out and download their tweets</p>
            </div>
        </div>
    </div>
</div>